version: '2'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
  nginx:
#      image: tutum/nginx
    image: nginx
#      ports:
#          - "80:80"
    links:
        - php
    volumes:
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        - ./src:/data/src
        - ./logs/nginx/nginx-error.log:/var/log/nginx/error.log
        - ./logs/nginx/nginx-access.log:/var/log/nginx/access.log
    environment:
        DEBUG: 'true'
        VIRTUAL_HOST: 'laraveltest.dev'
  php:
      image: php:fpm
      ports:
          - "9000:9000"
      volumes:
          - ./src:/data/src
  mysql:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/database:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql
#  phpmyadmin:
#    image: phpmyadmin/phpmyadmin
#    restart: always
#    links:
#      - mysql
#    ports:
#      - 8183:80
#    environment:
#      PMA_USER: root
#      PMA_PASSWORD: admin
#      PMA_ARBITRARY: 1